<!Doctype html>
<html>
<head>
<meta charset="UTF-8">
<link href="/public/style.css" rel="stylesheet" type="text/css" media="all">
<title>Show message</title>
</head>
<body>
<h2>VALORANT JP REGION INFO</h2>
<a class="btn-style-link" href="/player">
 PLAYER
</a>
<a class="btn-style-link" href="/team">
  TEAM
</a>
<table>
</table>
</body>
</html>