h1 {
  color: #6594e0;/*文字色*/
  /*線の種類（点線）2px 線色*/
  border-bottom: dashed 2px #6594e0;
}

h2{
  color: #e5f6ff;/*文字色*/
  text-align: center;
  font-size: 50px;
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image:url(/public/topback.jpg);
  background-position:50% 50%;
  background-size:cover;
}

a.btn-style-link{
  display: inline-block;
  font-size: 75px;
  padding: 10px 10px;
  text-decoration: none;
  border: 1px;
  background: #ffffff;;
  color: #ff0000;
  box-shadow: 0px 2px 4px #ff0000;
  transition: box-shadow .3s;
}

a.btn-style-link:hover{
  box-shadow: 0px 4px 8px #ff0000;
}